{% extends 'master_index.html' %}
{% load static %}

{% block content %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="email">E-mail:</label>
    <input type="text" name="email">
    <label for="senha">Senha:</label>
    <input type="password" name="senha">
    <a href="{% url 'reset_senha' %}" class="esqueceu_senha">Esqueceu a senha?</a>
    <button type="submit" >Login</button>
    <a href="{% url 'cadastro_usuario' %}" class="btns_home btn_cadastro">Cadastrar</a>

</form>
{% endblock %}