{% extends 'master_index.html' %}
{% load static %}

{% block content %}
<form action="{% url 'criar_usuario' %}" method="post">
    {% csrf_token %}
    <label for="nome">Nome</label>
    <input type="text" name="nome">
    <label for="email">E-mail:</label>
    <input type="email" name="email">
    <label for="senha">Senha:</label>
    <input type="password" name="senha">
    <input type="submit" class="btns_home btn_login" value="Cadastrar">
    <a class="btns_home btn_cadastro" href="{% url 'home' %}">Voltar</a>

</form>
{% endblock %}